<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm an undergraduate student in Yonsei University majoring in Artificial Intelligence. I'm currently under the guidance of Prof. Jongduk Baek in <a href="https://sites.google.com/view/yonsei-medisyslab/home">Medisys lab</a>.
            </p>
            <p class="paragraph-text justify-text">
                My previous interest was object detection in the field of computer vision. Currently, I'm interested in a medical image system using artificial intelligence.
            </p>
        </div>
    </section>
</div>
