<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm an undergraduate student in Yonsei University majoring in Artificial Intelligence. Under the guidance of Prof. Jongduk Baek in the <a href="https://sites.google.com/view/yonsei-medisyslab/home">Medisys lab</a>, I have gained hands-on experience in AI research.
            </p>
            <p class="paragraph-text justify-text">
                My initial focus was on object detection within computer vision, where I explored how machines can interpret visual data. Currently, my interest has shifted towards AI applications in medical imaging systems, where I aim to enhance diagnostic accuracy and healthcare outcomes. I am passionate about utilizing AI to bring innovative solutions to the medical field.
            </p>
        </div>
    </section>
</div>
