<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects and Experiences</div>
            
                <div class="project-technologies">

                    <a id="project" class="semi-transparent-button with-border white-button" onclick="selected('project')">Project</a>
                    <a id="experience" class="semi-transparent-button with-border white-button" onclick="selected('experience')">Experience</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>