
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Research Interest</div>
                <p class="paragraph-text center-align">
                    My research interests lie at the intersection of artificial intelligence and healthcare, specifically focusing on medical image analysis. I now concentrate on developing AI systems that improve diagnostic accuracy.
                </p>
            </div>
        </div>
    </section>
</div>