<div class="section-wrapper">
    <section class="section research-interest" id="research-interest">
        <div>
            <div class="section-heading" id="research-interest-text">Research Interest</div>

            <div class="research-content">
                <p class="paragraph-text center-align">
                    My research interests lie at the intersection of artificial intelligence and healthcare, specifically focusing on medical image analysis. I now concentrate on developing AI systems that improve diagnostic accuracy.
                </p>
            </div>
        </div>
    </section>
</div>
